@using AllAboutGames.Web.ViewModels.ForumPosts
@model EditPostViewModel
@{
    this.ViewData["Title"] = "Edit post";
}
<center>
    <h1>Edit post: <span class="text-info">@Model.Title</span></h1>
</center>

<form class="text-center border border-light p-5" method="post">
    <center>
        <div class="form-group col-md-4">
            <label asp-for="Title"></label>
            <input value="@Model.Title" asp-for="Title" class="form-control" width:20em />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control rounded-0" rows="5">@Model.Content</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ForumCategoryId"></label>
            <select class="form-control" asp-for="ForumCategoryId" asp-items="Model.ForumCategories.Select(x => new SelectListItem(x.Name, x.Id))"></select>
            <span asp-validation-for="ForumCategoryId" class="text-danger"></span>
        </div>
        <hr />
        <input type="submit" class="btn btn-outline-success" value="Edit" style="width:200px" />
    </center>
</form>