@section Css{
    <link href="~/css/Cards.css" rel="stylesheet" asp-append-version="true" />
}
<center style="margin-top:50px"> <h1>Reviews</h1> </center>
<div class="container-fluid" style="margin-top:50px">
    <div class="row justify-content-center">
        <div class="col-auto mb-3">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/2241/4395/products/geralt_the_witcher_3_wild_hunt-wide_3c092a74-1533-41b8-a11f-34964db6ee6f_1024x1024.jpg?v=1536973824" alt="Card image cap">
                    <div class="card-body">
                        <h2 style="position:relative; left:45px">The Witcher 3</h2>
                    </div>
                    <button type="button" class="btn btn-primary" style="position:relative; left:100px; bottom:20px">Check reviews</button>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto mb-3">
            <div class="card" style="width: 24rem;">
                <div class="card-body">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>