@using AllAboutGames.Web.ViewModels.Reviews
@model IEnumerable<AllReviewsViewModel>
@section Css{
    <link href="~/css/Cards.css" rel="stylesheet" asp-append-version="true" />
}
<center style="margin-top:50px"> <h1>Reviews</h1> </center>
<div class="container-fluid" style="margin-top:50px">
    <div class="row justify-content-center">
        @foreach (var game in @Model)
        {
            <div class="col-auto mb-3">
                <div>
                    <div class="card">
                        <div class="imgBx">
                            <img src="@game.Image" alt="images">
                        </div>
                        <div class="details">
                            <h2>@game.Name<br><span>@game.DeveloperName</span></h2>
                        </div>
                    </div>
                    <a href="/Reviews/Details?id=@game.Id" class="btn btn-primary" style="margin-top:20px; width:200px; margin-left:50px">Check Reviews</a>
                </div>
            </div>
        }
    </div>
</div>