@using AllAboutGames.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    @await this.RenderSectionAsync("CustomCss", required: false)
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/images/default-monochrome-white.svg" width="200">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">Games</a>
                            <ul class="dropdown-menu fade-down">
                                <a class="dropdown-item" asp-area="" asp-controller="Platforms" asp-action="Playstation">Playstation</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Platforms" asp-action="Xbox">Xbox</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Platforms" asp-action="Nintendo">Nintendo</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Platforms" asp-action="Android">Android</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Platforms" asp-action="iOS">iOS</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Platforms" asp-action="PC">PC</a>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Reviews" asp-action="All">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="FeedBack" asp-action="Contacts">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @this.RenderBody()
        </main>
    </div>
        <!-- Footer -->
        <footer class="bg-dark text-center text-lg-start border-top" style="position:absolute; bottom:0; width:100%; height:auto">
            <!-- Grid container -->
            <div class="container-fluid">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-2">
                        <h5 class="text-uppercase">About the site:</h5>

                        <p>
                            Keep track of the newest games on this website. You can rate every game and see the reviews that some people have written.
                            If there is some topic you want to discuss with other people, you can always go to the forum and share you'r thoughts.
                            Contact us if there is something that you want to discuss.
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Games</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Platforms" asp-action="Playstation">Playstation</a>
                            </li>
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Platforms" asp-action="Xbox">Xbox</a>
                            </li>
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Platforms" asp-action="Nintendo">Nintendo</a>
                            </li>
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Platforms" asp-action="Android">Android</a>
                            </li>
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Platforms" asp-action="iOS">iOS</a>
                            </li>
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Platforms" asp-action="PC">PC</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Visit</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Reviews" asp-action="All">Reviews</a>
                            </li>
                            <li>
                                <a class="text-info" asp-area="" asp-controller="Forum" asp-action="Index">Forum</a>
                            </li>
                            <li>
                                <a class="text-info" asp-area="" asp-controller="FeedBack" asp-action="Contacts">Contact us</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                <div style="color:white">
                    © 2020 - @DateTime.UtcNow.Year
                    <span>AllAboutGames</span>
                </div>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
