<center>
    <h1>Add platform here!</h1>
    <form method="post">
        <div class="form-group">
            <label>Name</label>
            <input name="name" style="width: 500px" class="form-control">
        </div>
        <div class="form-group">
            <label>Games count</label>
            <input type="number" name="gamesCount" style="width: 200px" class="form-control">
        </div>
        <div class="form-group">
            <label>Image</label>
            <input name="image" style="width: 500px" class="form-control">
        </div>
        <div class="form-group">
            <label>Developer</label>
            <input name="developer" style="width: 500px" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>